body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

canvas {
    display: block;
    cursor: url('defaultCursor.png'), auto; /* URL to custom cursor image */
}




@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateX(-10px) translateY(-10px);
    }
    100% {
        transform: translate(-50%, -50%) translateX(10px) translateY(10px);
    }
}
